body {
  padding: 10px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: #000;
}

main .hero {
  border-radius: 20px;
}

#about {
  display: flex;
}

.left-side,
.right-side {
  flex: 1;
}

.left-side p {
  padding-right: 200px;
}

main .right-side {
  display: flex;
  justify-content: flex-end;
}

main .right-side .portrait {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

#contact {
  display: flex;
  justify-content: space-between;
}

#contact .social-links ul {
  list-style: none;
}

#contact .social-links ul {
  display: flex;
  gap: 40px;
}

#contact .social-links a {
  text-decoration: none;
  color: #000;
}

#contact .social-links a:hover {
  text-decoration: none;
  color: #409db9;
}
