* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "Segoe UI", sans-serif;
}

body {
  padding: 10px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul a:hover {
  color: #409db9;
}

nav ul a:hover::after {
  width: 100%;
}

main .hero {
  border-radius: 16px;
  height: 500px;
  object-fit: cover;
  object-position: bottom;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  margin-bottom: 80px;
}

main .hero:hover {
  transform: scale(1.01);
}

#about {
  display: flex;
}

.left-side,
.right-side {
  flex: 1;
  margin-bottom: 80px;
}

.left-side p {
  padding-top: 20px;
  padding-right: 200px;
}

main .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .right-side {
  display: flex;
  justify-content: flex-end;
}

main .right-side .portrait {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

#contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

#contact .social-links ul {
  list-style: none;
}

#contact .social-links ul {
  display: flex;
  gap: 40px;
}

#contact .social-links a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

#contact .social-links a:hover {
  text-decoration: none;
  color: #409db9;
}
